<a href="https://colab.research.google.com/github/Gowtham1211/python/blob/main/gowthamCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=True
b=False
print('a=','b=',b)
a=False;
print('a =',a,'b =',b)

a= b= False
a = False b = False

In [ ]:
dividend, divisor = eval(input('please enter two numbers to divide:'))
if divisor != 0:
  print(dividend,'/',divisor,'=',dividend/divisor)

please enter two numbers to divide:3,7
3 / 7 = 0.42857142857142855

In [ ]:
dividend, divisor = eval(input('please enter two numbers to divide:'))
if divisor != 0:
  quotinet=dividend/divisor
  print(dividend,'/',divisor,'=',dividend/divisor)
print('program finished')

please enter two numbers to divide:2,4
2 / 4 = 0.5
program finished

In [ ]:
dividend, divisor = eval(input('please enter two numbers to divide:'))
if divisor != 0:
  print(dividend,'/',divisor,'=',dividend/divisor)
else:
  print('Division by zero is not allowed')

please enter two numbers to divide:3,5
3 / 5 = 0.6

In [ ]:
value=eval(input("please enter an integer in the range 0...5: "))
if value < 0:
  print("Too small")
else:
    if value == 0:
      print("zero")
    else:
      if value == 1:
       print("one")
      else:
        if value == 2:
          print("two")
        else:
         if value == 3:
          print("three")
         else:
          if value == 4:
           print("four")
          else:
            if value == 5:
             print("five")
            else:
             print("Too large")

please enter an integer in the range 0...5: 4
four

In [ ]:
value=eval(input("please enter an integer in the range 0...5: "))
if value < 0:
    print("Too small")
elif value == 0:
    print("zero")
elif value == 1:
    print("one")
elif value == 2:
    print("two")
elif value == 3:
    print("three")
elif value == 4:
    print("four")
elif value == 5:
    print("five")
else:
    print("Too large")
print("Done")

please enter an integer in the range 0...5: 3
three
Done

In [25]:
value = eval(input("please enter an integer value in the range 0...10:"))
if value >= 0 & value <= 10:
  print("In range")
print("Done")

please enter an integer value in the range 0...10:7
In range
Done

In [26]:
#nested loop
print("     1  2  3  4  5  6  7  8  9  10")
print("    <---------------------------->")
for row in range(1,11):
  if row<10:
    print(" ",end=" ")
    for column in range(1,11):
      product=row*column;
      if product<100:
        print(end=" ")
      if product<10:
        print(end=" ")
      print(product,end=" ")
    print()

     1  2  3  4  5  6  7  8  9  10
    <---------------------------->
    1   2   3   4   5   6   7   8   9  10
    2   4   6   8  10  12  14  16  18  20
    3   6   9  12  15  18  21  24  27  30
    4   8  12  16  20  24  28  32  36  40
    5  10  15  20  25  30  35  40  45  50
    6  12  18  24  30  36  42  48  54  60
    7  14  21  28  35  42  49  56  63  70
    8  16  24  32  40  48  56  64  72  80
    9  18  27  36  45  54  63  72  81  90

In [27]:
#while 
entry=0
sum=0
print("Enter numbers to sum, negative number ends list: ")
while entry >=0:
  entry =eval(input())
  if entry >=0:
    sum+=entry
print("sum=",sum)

Enter numbers to sum, negative number ends list:
6
6
7
8
-2
sum= 27