<a href="https://colab.research.google.com/github/Gowtham1211/python/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("choice1:1:Add,2 Sub,3:Div,:MUL,5:Quit")
n1=input("enter the choice of operation:")
n=int(n1)
if (n == 1):
    print("you have chose addition option:")
    a1=input("enter the value for A :")
    b1=input("enter the value for B :")
    a=int(a1)
    b=int(b1)
    c= a + b
    print("the Result",a,"+",b"=",c)
elif (n == 2):
    print("you have chose subtraction option:")
    a1=input("enter the value for A :")
    b1=input("enter the value for B :")
    a=int(a1)
    b=int(b1)
    c= a - b
    print("the Result",a,"-",b"=",c)
elif (n == 3):
    print("you have chose division option:")
    a1=input("enter the value for A :")
    b1=input("enter the value for B :")
    a=int(a1)
    b=int(b1)
    c= a / b
    print("the Result",a,"/",b"=",c)
elif (n == 4):
    print("you have chose mulitplication option:")
    a1=input("enter the value for A :")
    b1=input("enter the value for B :")
    a=int(a1)
    b=int(b1)
    c= a * b
    print("the Result",a,"*",b"=",c)
elif (n == 5):
    print("you have given a wrong:",n)
    exit()

choice1:1:Add,2 Sub,3:Div,:MUL,5:Quit
enter the choice of operation:4
you have chose mulitplication option:
enter the value for A :5
enter the value for B :55
the Result 5 * b'=' 275

In [ ]:
#fibonacci series
print("Fibonacci Series")
n1=input("Enter the number: ")
n=int(n1)
if(n>0):
  f=0
  s=1
  i=0
  next=0
  while(1):
    print("\n\n*******************************************")
    for i in range(n+1):
      if(i<=1):
        print(i)
      else:
        next=f+s
        f=s
        s=next
        print(next)
    i=i+1
    break
else:
  print("you have entered wrong input",n)
  exit()

In [ ]:
#arithmetic operation
value1=eval(input("Enter the first number: "))
value2=eval(input("Enter the second number: "))
sum=value1+value2
print(value1,'+',value2,'=',sum)

In [ ]:
#arithmetic operators
x=30
y=24
print('x+y=',x+y)
print('x-y=',x-y)
print('x*y=',x*y)
print('x/y=',x/y)
print('x//y=',x//y)
print('x**y=',x**y)

In [ ]:
#comparsion operators
x=10
y=5
print("x > y is",x>y)
print("x < y is",x<y)
print("x == y is",x==y)
print("x != y is",x!=y)
print("x >= y is",x>=y)
print("x <= y is",x<=y)

In [ ]:
#logical operators
x=True
y=False
print("x and y is", x and y)
print("x or y is", x or y)
print("not x is",  not x)

In [ ]:
#identity operators
x1=5
y1=5
x2='Hello'
y2='Hello'
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is not y3)

In [ ]:
#membership operators
x='Hello World'
y={1:'a',2:'b'}
print('E' in x)
print("hello" not in x)
print(2 in y)
print('a' in y)

In [ ]:
#shift operators
a=15
b=-15
print("a>>1=",a>>1)
print("b>>1=",b>>1)